p {
  font-size: large;
  font-style: inherit;
  color: aqua;
}

[class="usual"] {
  color: bisque;
  background-color: black;
}

#imt {
  font-style: italic;
}

#hap {
  font-style: italic;
  color: blueviolet;
}

#att {
  color: brown;
}

p#aw {
  color: rgb(251, 255, 1);
}

.warning {
  color: blueviolet;
}

p#imt.warning {
  color: blue;
  font-size: x-large;
  background-color: orange;
}

p#imt {
  color: darkgreen;
  font-size: xx-large;
  background-color: orange;
}