p {
  font-size: 20px;
}

p {
  font-size: x-small;
}

p.warning {
  color: violet;
  font-weight: bolder;
  background-color: gray;
}

.importent {
  color: blue;
  text-transform: uppercase;
}

.usual {
  font-style: italic;
}

p.attention {
  color: darkgreen;
  font-size: xx-large;
  background-color: orange;
}

p.warning[id="wrn"] {
  color: red;
  font-size: large;
  font-style: inherit
}

p#us.usual {
  color: orangered;
  font-size: large;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bolder;
}

p.usual-warning {
  color: aqua;
  font-size: large;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: gray;
}

div>p {
  font-style: italic;
  color: khaki;
  font-size: xx-large;
}